.nft-search {
  text-align: center;
  margin: 20px;
}

.nft-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nft-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.nft-item img {
  max-width: 100%;
  border-radius: 8px;
}

.imgNFT {
  width: 50%;
  height: 50%;
}
