.searchZone {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}


.searchContrat, .searchCollection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
    font-size: 1.8rem;
    width: 40%;
    height: 200px;
    color: white;
    background: linear-gradient(0.08turn, #000000 60%, rgb(3, 3, 82) 90%);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px #1100ff;
    transition: 1s;
}

.searchContrat:hover, .searchCollection:hover {
    background: linear-gradient(0.08turn, #000000 60%, #ff000d 90%);
    box-shadow: 0px 0px 20px #ff000d;
    transition: 1s;
}


.buttonsSearch {
    color: white;
    background: rgba(105, 90, 205, 0.459);
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border: none;
    top: 230px;
}

.NFTCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.NFTCard img {
    max-width: 20%;
    margin: 10px;
    padding: 0;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    scale: 1;
    transition: box-shadow, scale, 0.5s;
}
.NFTCard img:hover {
    box-shadow: 0px 0px 50px white;
    cursor: pointer;
    scale: 1.15;
    z-index: 5;
}